* {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

body {
  font: 0.8em Arial;
  padding: 0;
  margin: 0;
  background: #eee;
  color: #333;
}

body > header {
  display: block;
  text-align: center;
  background: #fff;
  padding: 15px;
}

nav ul {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  }
  nav ul li {
    display: table-cell;
    width: 1%;
    height: 50px;
    text-align: left;
  }
  nav ul li a {
    background: #fff;
    display: block;
    width: auto;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: #999;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }
  nav ul li a:hover { background: #333; color: #fff;  border-bottom: 1px solid #333; }


table {
  width: 100%;
  text-align: left;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fff;
  padding: 25px;
  margin: 15px 0;
  }
  table tr td, table tr th {
    padding: 5px;
  }

article {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  }
  article header {
    padding: 0 15px;
  }
  article.active {
    display: block;
  }

