* {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

body {
  font: 1em Arial;
  padding: 0;
  margin: 0;
  background: #eee;
  color: #333;
}

body > header {
  display: block;
  text-align: center;
  background: #fff;
  padding: 1em;
}

.winner { font-weight: bold; color: red; }

nav ul {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  }
  nav ul li {
    display: table-cell;
    width: 1%;
    height: 3em;
    text-align: left;
  }
  nav ul li a {
    background: #fff;
    display: block;
    width: auto;
    height: 3em;
    line-height: 3em;
    text-align: center;
    text-decoration: none;
    color: #999;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }
  nav ul li a:hover { background: #333; color: #fff;  border-bottom: 1px solid #333; }
  nav ul li a.current {
    backgroun: green !important;
  }

article h1 {
  margin-left: 0.75em;
}
  
table {
  width: 100%;
  text-align: left;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fff;
  padding: 2em;
  margin: 1em 0;
  }
  table tr td, table tr th {
    padding: 0.5em;
  }

article {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  }
  article header {
    padding: 0 1em;
  }
  article.active {
    display: block;
  }

